﻿.ikl-logo-gemeente {
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
}

.container {
    margin-top: -20px;
}

body,html {
    background-color: white;
}