﻿@page "/gegevens-ophalen"
@namespace Inkomensloket.ComponentLibrary
<h3>Gegevens ophalen bij de Belastingdienst</h3>
<SpinnerWithMessage>
    <MessageLoading>
        Gegevens over uw inkomsten en vermogen worden opgehaald bij de belastingdienst
    </MessageLoading>
    <MessageLoaded>
        Gegevens over uw inkomsten en vermogen zijn opgehaald bij de belastingdienst
    </MessageLoaded>
</SpinnerWithMessage>
