﻿@namespace Inkomensloket.ComponentLibrary
<div class="canvas">
    <div class="footer">
        <div class="footer-triangle">
            <svg class="triangle" viewBox="0 0 44 16" width="44" height="16" aria-hidden="true" preserveAspectRatio="xMidYMin slice">
                <defs>
                    <linearGradient id="rw-hero-gradient-2" x1="0" x2="0" y1="0" y2="110%">
                        <stop offset="0%" stop-color="#CC0000"></stop>
                        <stop offset="60%" stop-color="#CC0000"></stop>
                        <stop offset="100%" stop-color="#CC0000"></stop>
                    </linearGradient>
                </defs>
                <polygon fill="url(#rw-hero-gradient-2)" points="0,0 0,16 22,16"></polygon>
            </svg>
        </div>
        @ChildContent
    </div>
</div>