﻿html,
body {
    height: 100%;
}

.canvas {
    background: #D94040;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: -12;
    margin:-10px;
}

.main-content {
    background: green;
    flex: 1;
}

.footer {
    flex-shrink: 0;
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.footer-triangle {
    overflow: hidden;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.triangle {
    height: 100%;
    max-width: 100%;
    width: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
