﻿@inherits LayoutComponentBase
@namespace Inkomensloket.ComponentLibrary
@*<NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>*@
<main class="smain" id="content">
    <div class="container">
        <NldsContentHeader>
            <NldsHint>
                <div class="ikl-logo-gemeente"></div>
            </NldsHint>
        </NldsContentHeader>
        @Body
        <Hulp/>
    </div>
</main>
