﻿@namespace Inkomensloket.ComponentLibrary
<NldsTable>
    <Body>
        <NldsTableRow>
            <NldsTableCell>
                <Spinner @ref="spinner" InProgress="true">
                </Spinner>
            </NldsTableCell>
            <NldsTableCell>
                @if (spinner.InProgress)
                {
                    @MessageLoading
                }
                else
                {
                    @MessageLoaded
                }
            </NldsTableCell>
        </NldsTableRow>
    </Body>
</NldsTable>