﻿.icon {
    font-family: duo-basic !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    speak: none;
    color: #39870c;
    width: 40px;
    text-transform: none;
    height: 140px;
    /* left: 50%; */
    opacity: 1;
    top: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.spinner1 {
    -webkit-animation: spinnerAnimation .1s forwards;
    animation: spinnerAnimation .1s forwards;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-right:40px;
}

    .spinner1:after {
        -webkit-animation: rotate .75s infinite linear;
        animation: rotate .75s infinite linear;
        border: 8px solid silver;
        border-radius: 100%;
        //border-right-color: #39870c;
        border-right-color: navy;
        height: 40px;
        opacity: 1;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: all .75s ease 0s;
        transition: all .75s ease 0s;
        width: 40px;
    }

.spinner1:after, .spinner1:before {
    content: "";
    position: absolute;
    z-index: 1;
}




@-webkit-keyframes spinnerAnimation {
    0% {
        min-height: 0
    }

    to {
        min-height: 40px
    }
}

@keyframes spinnerAnimation {
    0% {
        min-height: 0
    }

    to {
        min-height: 40px
    }
}
